
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/tatigrassi/image/upload/v1565880200/masks_landing/playmobil_banner_kvjncg.jpg);">
  <div class="text-center d-flex justify-content-center align-items-center flex-column">
    <h1 class="banner-content ">Get a face! Make your life easier!</h1>
    <br>
    <h2 class="banner-content small-content">Don't express yourself, and everybody is gonna love you!</h2>
    <%= link_to "GET A FACE", masks_path, class: "btn btn-flat"  %>
  </div>
</div>
