<div class="container">
  <div class='row text-center'>
    <h1>Get a mask, let anybody like you!</h1>
    <%= cl_image_tag("rjudhnjy3td2xmi2s548.png", width: 1000, height: 200, crop: :fill, secure: true) %>
    <div class="getFace"><h1><strong>Get Face</strong></h1></div>
  </div>






  <div class='row'>
    <div class="container">
        <div class="row">
          <% @masks[0..2].each do |mask| %>
              <div class="container-flats-index col-sm-12 col-md-6 col-lg-4">
              <div class="card-face">
              <%= link_to mask.name, mask_path(mask)  %>
              <%= cl_image_tag mask.photo, height: 100, width: 100, crop: :fill %>

              <%= mask.mood %>
              </div>
              </div>
              <% end %>
        </div>
    </div>
  </div>
</div>
