.container-flats-index {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 0px 50px;
  margin-top: 25px;
  div {
    grid-row-start: 1;
    font-weight: bold;
    color: #49beb7;
    text-align: center;
    list-style: none;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    background-color: black;
    border-color: red;
    border-radius: 15px;
    border: 8px solid;
  }

.card-face {
  margin: auto;
  border-color: red;
  a {
    text-decoration: none;
    color: white;
  }
  h2 {
    margin-top: 30px;
  }
}
}

.review-booking-mid-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 20px 0px;
}

.reviews-container {
  position: relative;
}

.show-review-booking{
  display:flex;
  justify-content: space-evenly;
  margin-top: 40px;
  .show-booking {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
  }
  .show-review {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
  }
}

.price-mood {
  text-align: center;
}
