.show-booking {
  background-color: red;
  text-align: center;
  padding-bottom: -5px;
  margin-bottom: 25px;
}


.show-review {
  background-color: red;
  text-align: center;
  padding-bottom: -5px;
  margin-bottom: 25px;
}
