.main-show-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.photo-and-infos-card {

}

.faggot {
  height: 600px;
  width: 550px;
  padding-top: 10px;

 .inner-photo {
  position: absolute;
  width: 600px;
  height: 350px;
  img {
    width: 550px;
    height: 500px;
  }
}
.inner-info {
  top:450px;
  background-color: #eb7070;
  width: 550px;
  height: 100px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
  }
}



.book-and-map{
  margin-top: -38px;
}



.show-booking {
  text-align: center;
  margin-bottom: 25px;
  width: 500px;
  height:350px;

  border: 5px solid;
}


.show-review {
  padding: 15px;
  height: 350px;
  background-color: $pink;

  text-align: center;
  padding-bottom: -5px;
  margin-bottom: 25px;
  border: 5px solid;
}

.kys {
  display: flex;
  justify-content: space-between;
  text-align: center;
}


.collection_radio_buttons.icon-star{
      margin-left: -23px;
      margin-top: 5px;
}


.reviews-container {
  border: 5px solid;
  height: 210px;

  background-color: $pink;


}


.booking-container {
  border: 5px solid;
  height: 210px;

  background-color: $pink;


}
